<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css//font-awesome.min.css" />
    <link rel="stylesheet" href="./fonts/fonts.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-header">
        <header>
          <!-- Static navbar -->
          <nav class="navbar-default navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="../navbar/">How To</a></li>
                  <li><a href="../navbar-fixed-top/">Support</a></li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </nav>
        </header>
      </div>
      <div class="wrapper-container">
        <div class="page-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="content">
                  <h1>
                    Facebook
                    <span class="blue"><strong>Video</strong></span> Downloader
                  </h1>
                  <p class="intro">
                    FB Downloader is a fast and free way to download and save
                    Facebook videos as MP4's. <br />
                    Start by putting the Facebook video URL in the box below and
                    click Go.
                  </p>
                </div>
                <div class="s130">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-lg-4 common-box facebook">
                  <div class="fb">
                    <i class="fa fa-facebook fa-2x"></i>
                    <p>Download facebook videos</p>
                  </div>
                </div>
                <div class="col-lg-4 common-box instgram">
                  <div class="insta">
                    <i class="fa fa-instagram fa-2x"></i>
                    <p>Download instagram videos</p>
                  </div>
                </div>
                <div class="col-lg-4 common-box youtube">
                  <div class="ytd">
                    <i class="fa fa-youtube-square fa-2x"></i>
                    <p>Download youtube videos</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div id="loading-message">
                  <div class="loader">
                    Preparing your download, please wait...
                  </div>
                  <div class="status">
                    Preparing your download, please wait...
                  </div>
                </div>
              </div>
              <div class="col-xs-12 hideOnDownload">
                <h2 class="section-heading pl-15"><strong>How it works?</strong></h2>
                <p class="mb-5 pl-15">Easy steps to get you started</p>
                <div class="col-lg-4 mb-4 ">
                  <div class="step">
                    <span>1</span>
                    <div class="step-inner">
                      <span class="number text-primary">01.</span>
                      <h3>Copy Video's Link</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Vero, laboriosam!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="step">
                    <span>2</span>
                    <div class="step-inner">
                      <span class="number text-primary">02.</span>
                      <h3>Paste Video's Link</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Vero, laboriosam!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="step">
                    <span>3</span>
                    <div class="step-inner">
                      <span class="number text-primary">03.</span>
                      <h3>Download Video</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Vero, laboriosam!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-footer">
        <footer>
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <h4>contact</h4>
                  <ul class="list-inline">
                    <li>info@allVid.com</li>
                    <li></li>
                  </ul>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 center-foot">
                  <h4>legal</h4>
                  <ul class="list-inline">
                    <li>
                      <a href="https://fastvid.com/privacy">Privacy Policy</a>
                    </li>
                    <li><a href="https://fastvid.com/blog">Blog</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 right-foot">
                  <h4>follow us</h4>
                  <ul class="list-inline">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Linkedin</a></li>
                  </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <p>Copyright © All Rights Reserved - 2020</p>
                </div>
              </div>
            </div>
          </div>
        </footer>

        <a id="button"></a>
      </div>
    </div>

    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/custum.js"></script>
  </body>
</html>
